
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#020617;
position:fixed;
width:100%;
}

nav a{
margin:0 15px;
color:white;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:20px;
}

.hero span{
color:#38bdf8;
}

.socials i{
font-size:25px;
margin:10px;
}

section{
padding:100px 10%;
}

.skills-container{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.skill{
background:#1e293b;
padding:15px 25px;
border-radius:8px;
}

.project-container{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:300px;
}

.github img{
margin:10px;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}
