
body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
margin:15px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:120px;
}

.btn{
background:#38bdf8;
padding:12px 20px;
border-radius:20px;
text-decoration:none;
color:black;
margin:10px;
}

.projects{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;
}

.card{
background:#1e293b;
padding:20px;
width:260px;
border-radius:10px;
}

.card img{
width:100%;
border-radius:8px;
}

.social a{
margin:10px;
}

.time{
position:fixed;
top:10px;
left:10px;
font-size:18px;
color:#38bdf8;
}
